@model IEnumerable<hr_application.ViewModels.ApplicationListItemViewModel>

@{
    ViewData["Title"] = "All applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All applications</h1>
<partial name="_ApplicationListPartial" />
