@model hr_application.Models.JobOffer

@{
    ViewData["Title"] = "Create new job offer";
    ViewData["FormButtonString"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create new job offer</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <partial name="_JobOfferFormPartial"/>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
