@using hr_application.ViewModels
@{
    ViewData["Title"] = "Job offer details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var jobOffer = ViewData["JobOfferDetails"] as JobOfferDetailsViewModel;
}

<partial name="_JobOfferDetailsPartial" />

<div>
    @Html.ActionLink("Edit", "Edit", new { jobOffer.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
