@model hr_application.ViewModels.JobOfferFormViewModel

@{
    ViewData["Title"] = "View";
    ViewData["FormButtonString"] = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<h4>JobOffer</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <partial name="_JobOfferFormPartial"/>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
